<div class="d-flex">
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav-pills"
    orientation="vertical"
  >
    <li ngbNavItem="top">
      <a ngbNavLink>Reasons</a>
      <ng-template ngbNavContent>
        <app-reason-dashboard></app-reason-dashboard>
      </ng-template>
    </li>
    <li ngbNavItem="middle">
      <a ngbNavLink>Categories</a>
      <ng-template ngbNavContent>
        <app-categories-dashboard></app-categories-dashboard>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
