<div class="d-flex flex-row gap-2">
  <div class="flex-fill">
    <div class="d-grid gap-2 d-flex justify-content-end">
      <button class="btn btn-link" routerLink="/equipment/new">
        <i class="bi bi-plus-circle"></i>
      </button>
    </div>
  </div>
</div>



<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">serialNumber</th>
        <th scope="col">version</th>
        <th scope="col">name</th>
        <th scope="col">partNumber</th>
        <th scope="col">category</th>
        <th scope="col">supplier</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let equipment of equipments; index as i"
        (click)="more(equipment)"
      >
        <td>{{ equipment.serialNumber }}</td>
        <td>{{ equipment.version }}</td>
        <td>{{ equipment.name }}</td>
        <td>{{ equipment.partNumber }}</td>
        <td>{{ equipment.category.name }}</td>
        <td>{{ equipment.supplier.name }}</td>
        <td>
          <span [outerHTML]="equipment.available | boolean"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="equipment" class="flex-grow-1">
  <app-equipement-details [equipement]="equipment"></app-equipement-details>
</div>
