<nav id="sidebar" class="sidebar js-sidebar" [ngClass]="collapsed === true ? 'collapsed':''">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" routerLink="/dashboard">
      <img class="align-middle" src="https://support.sagemcom.com/sites/default/files/sagemcom-logo_0.png"
        height="30" />
    </a>
    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Main Menu
      </li>
      <li class="sidebar-item" routerLinkActive="active">
        <a class="sidebar-link" routerLink="user">
          <i class="bi bi-people"></i>
          <span class="align-middle">Users</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active">
        <a class="sidebar-link" routerLink="equipment">
          <i class="bi bi-upc-scan"></i>
          <span class="align-middle">Equipements</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active">
        <a class="sidebar-link" routerLink="movement">
          <i class="bi bi-arrow-left-right"></i>
          <span class="align-middle">Movement</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active">
        <a class="sidebar-link" routerLink="supplier">
          <i class="bi bi-shop-window"></i>
          <span class="align-middle">Supplier</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active">
        <a class="sidebar-link" routerLink="category">
          <i class="bi bi-sliders"></i>
          <span class="align-middle">Categories</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active">
        <a class="sidebar-link" routerLink="status">
          <i class="bi bi-sliders"></i>
          <span class="align-middle">Status</span>
        </a>
      </li>
    </ul>
  </div>
</nav>