<div class="d-flex">
  <div>
    <div #chartContainer></div>
  </div>
  <div>
    <canvas id="reasons">{{chart}}</canvas>
  </div>
  <div class="flex-fill">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">User Movements</h5>
      </div>
      <table class="table table-hover my-0">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td class="d-none d-md-table-cell">
              <div *ngFor="let count of user.counts">
                <span class="m-2" [innerHTML]="count.direction | direction"></span>
                <span>{{count.count}}</span>
              </div>

            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>