<form #user="ngForm" (ngSubmit)="submit(user)">
  <div>
    <div>
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" ngModel />
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" ngModel />
    </div>
    <div>
      <label for="mail">Mail</label>
      <input type="text" name="mail" ngModel />
    </div>
    <div>
      <label for="mobile">Mobile</label>
      <input type="text" name="mobile" ngModel />
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
