<div class="d-flex flex-row gap-2">
  <div class="flex-fill">
    <div class="d-grid gap-2 d-flex justify-content-end">
      <button class="btn btn-link" (click)="reason()">
        <i class="bi bi-plus-circle bi--xl"></i>
      </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Reason</th>
        <th scope="col">Direction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reason of reasons; index as i">
        <td>
          {{ reason.title }}
        </td>
        <td>{{ 'movement.'+reason.direction | translate }}</td>
      </tr>
    </tbody>
  </table>
</div>