<form #equipment="ngForm" (ngSubmit)="submit(equipment)">
  <div>
    <div class="mb-1">
      <label for="serialNumber">serialNumber</label>
      <input type="text" class="form-control" name="serialNumber" ngModel />
    </div>
    <div class="mb-1">
      <label for="version">version</label>
      <input type="text" class="form-control" name="version" ngModel />
    </div>
    <div class="mb-1">
      <label for="name">name</label>
      <input type="text" class="form-control" name="name" ngModel />
    </div>
    <div class="mb-1">
      <label for="partNumber">partNumber</label>
      <input type="text" class="form-control" name="partNumber" ngModel />
    </div>
    <div class="mb-1">
      <label for="category">category</label>
      <select class="form-select" type="text" name="category" ngModel>
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Category</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-category-form></app-category-form>
  </div>
</ng-template> -->
