<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.serialNumber" [term]="t"></ngb-highlight>
</ng-template>

<form #movement="ngForm" (ngSubmit)="submit(movement)">
  <div>
    <div class="mb-1">
      <label for="equipment">equipment</label>
      <input type="text" class="form-control" name="equipment" ngModel [ngbTypeahead]="search" [resultTemplate]="rt"
        [inputFormatter]="formatter" [editable]="false" placeholder="Serial  Number" />
    </div>

    <div class="form-group mb-1">
      <label>Direction</label>
      <div class="form-check" *ngFor="let direction of directions">
        <input class="form-check-input" type="radio" [value]="direction" name="direction" ngModel (change)="directionChange(direction)">
        <label class="form-check-label">{{ 'movement.'+direction | translate }}</label>
      </div>
    </div>

    <div *ngIf="reasons" class="mb-1">
      <label for="reason">reason</label>
      <select class="form-control" type="text" name="reason" ngModel>
        <option *ngFor="let reason of reasons" [ngValue]="reason">
          {{ reason.title }}
        </option>
      </select>
    </div>

    <div class="mb-1">
      <label for="note">note</label>
      <textarea name="note" class="form-control" ngModel></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>