<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="mb-1">
      <label for="firstName">name</label>
      <input type="text" class="form-control"  formControlName="name" />
    </div>
    <div class="mb-1">
      <label for="lastName">email</label>
      <input type="text" class="form-control" formControlName="email" />
    </div>
    <div class="mb-1">
      <label for="mail">address</label>
      <input type="text" class="form-control" formControlName="address"  />
    </div>
    <div class="mb-1">
      <label for="mobile">Mobile</label>
      <input type="text" class="form-control" formControlName="mobile" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>