<app-hint [content]="'equipment.hint.content' | translate"></app-hint>
<div class="d-flex flex-row gap-2">

  <div class="flex-fill">
    <div class="d-grid gap-2 d-flex justify-content-end">
      <button class="btn btn-link" routerLink="/dashboard/equipment/equipment">
        <svg-icon src="/assets/icons/add.svg" svgClass="icon-small"></svg-icon>
      </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped" >
    <thead class="text-light bg-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">serialNumber</th>
        <th scope="col">version</th>
        <th scope="col">name</th>
        <th scope="col">partNumber</th>
        <th scope="col">category</th>
        <th scope="col">supplier</th>
        <th scope="col">actions</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of equipments; index as i" >
        <td>
          <button type="button" class="btn btn-link"
            routerLink="/dashboard/equipment/movement/{{equipment.id}}">
            <svg-icon src="/assets/icons/move-arrows.svg" svgClass="icon-small"></svg-icon>
          </button>
        </td>
        <td>{{ equipment.serialNumber }}</td>
        <td>{{ equipment.version }}</td>
        <td>{{ equipment.name }}</td>
        <td>{{ equipment.partNumber }}</td>
        <td>{{ equipment.category.name }}</td>
        <td>{{ equipment.supplier.name }}</td>
        <td>
          <a class="text-primary m-1" (click)="delete(i,equipment)">
            <svg-icon src="/assets/icons/remove.svg" svgClass="icon-small"></svg-icon>
          </a>
          <a class="text-primary m-1" routerLink="/dashboard/equipment/equipment/{{equipment.id}}">
            <svg-icon src="/assets/icons/edit.svg" svgClass="icon-small"></svg-icon>
          </a>
          <a class="text-primary m-1" (click)="more(equipment)">
            <svg-icon src="/assets/icons/document.svg" svgClass="icon-small"></svg-icon>
          </a>
        </td>
        <td>
          <span [outerHTML]="equipment.available | boolean"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>