<div class="alert" >
  <h2 style="color: white; ">
    Info
  </h2>
  This is an alert box.  This is an alert box.  This is an alert box.
  This is an alert box.  This is an alert box.  This is an alert box.  This is an alert box.
  This is an alert box.  This is an alert box.  This is an alert box.  This is an alert box.
</div>
<style>
  .alert {
  padding: 20px;
  background-color: #2196F3;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
<div class="d-flex flex-row gap-2">

  <div class="flex-fill">
    <div class="d-grid gap-2 d-flex justify-content-end">
      <button class="btn btn-link" routerLink="/dashboard/equipment/equipment">
        <i class="bi bi-plus-circle bi--xl"></i>
      </button>
    </div>
  </div>
</div>
<div class="table-responsive " style="color : white">
  <table class="table table-striped  text-light" style="background-color: #222E3C;" >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">serialNumber</th>
        <th scope="col">version</th>
        <th scope="col">name</th>
        <th scope="col">partNumber</th>
        <th scope="col">category</th>
        <th scope="col">supplier</th>
        <th scope="col">actions</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of equipments; index as i" >
        <td>
          <button type="button" class="btn btn-link"
            routerLink="/dashboard/movement/movement/{{equipment.id}}">
            <i class="bi bi-arrow-left-right bi--xl"></i>
          </button>
        </td>
        <td>{{ equipment.serialNumber }}</td>
        <td>{{ equipment.version }}</td>
        <td>{{ equipment.name }}</td>
        <td>{{ equipment.partNumber }}</td>
        <td>{{ equipment.category.name }}</td>
        <td>{{ equipment.supplier.name }}</td>
        <td>
          <a class="text-primary m-1" (click)="delete(i,equipment)">
            <i class="bi bi-trash bi--xl"></i>
          </a>
          <a class="text-primary m-1" routerLink="/dashboard/equipment/equipment/{{equipment.id}}">
            <i class="bi bi-pencil bi--xl"></i>
          </a>
          <a class="text-primary m-1" (click)="more(equipment)">
            <i class="bi bi-file-earmark-text bi--xl"></i>
          </a>
        </td>
        <td>
          <span [outerHTML]="equipment.available | boolean"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>