<form #supplier="ngForm" (ngSubmit)="submit(supplier)">
  <div>
    <div class="mb-1">
      <label for="firstName">name</label>
      <input  type="text" class="form-control" name="name" ngModel />
    </div>
    <div class="mb-1">
      <label for="lastName">email</label>
      <input type="text" class="form-control" name="email" ngModel />
    </div>
    <div class="mb-1">
      <label for="mail">address</label>
      <input type="text" class="form-control" name="address" ngModel />
    </div>
    <div class="mb-1">
      <label for="mobile">Mobile</label>
      <input type="text" class="form-control" name="mobile" ngModel />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
