<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.serialNumber" [term]="t"></ngb-highlight>
</ng-template>

<form #movement="ngForm" (ngSubmit)="submit(movement)">
  <div>
    <div>
      <label for="equipment">equipment</label>
      <input
        type="text"
        class="form-control"
        name="equipment"
        ngModel
        [ngbTypeahead]="search"
        [resultTemplate]="rt"
        [inputFormatter]="formatter"
        [editable]="false"
        placeholder="Serial  Number"
      />
    </div>
    <div>
      <label>Direction</label>
      <div>
        <label>IN</label>
        <input
          type="radio"
          value="IN"
          name="direction"
          ngModel
          (change)="direction($event)"
        />
        <label>OUT</label>
        <input
          type="radio"
          value="OUT"
          name="direction"
          ngModel
          (change)="direction($event)"
        />
      </div>
    </div>
    <div *ngIf="reasons">
      <label for="reason">reason</label>
      <select class="form-control" type="text" name="reason" ngModel>
        <option *ngFor="let reason of reasons" [ngValue]="reason">
          {{ reason.title }}
        </option>
      </select>
    </div>

    <div>
      <label for="note">note</label>
      <textarea name="note" class="form-control" ngModel></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
