<div class="alert" >
  <h2 style="color: white; ">
    Info
  </h2>
  This is an alert box.  This is an alert box.  This is an alert box.
  This is an alert box.  This is an alert box.  This is an alert box.  This is an alert box.
  This is an alert box.  This is an alert box.  This is an alert box.  This is an alert box.
</div>
<style>
  .alert {
  padding: 20px;
  background-color: #2196F3;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>


<div class="d-flex mt-5">
  <div class="flex-grow-1 me-2">
    <app-category (create)="category($event)"></app-category>
  </div>

  <div class="table-responsive table-striped flex-fill">
    <table class="table table-striped">
      <thead style="background-color: #222E3C; color: white;">
        <tr>
          <th scope="col">{{ "category.label" | translate }}</th>
          <th scope="col">{{ "category.threshold" | translate }}</th>
          <th scope="col">{{ "description" | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; index as i">
          <td>
            {{ category.name }}
          </td>
          <td>{{ category.threshold }}</td>
          <td>
            {{ category.description }}
          </td>
          <td>
            <a class="text-reset" (click)="delete(i, category)">
              <i class="bi bi-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
