<div class="wrapper">
  <app-side-nav [collapsed]="collapsed"></app-side-nav>
  <div class="main">
    <app-header (collapse)="collapse()"></app-header>
    <main class="content">
      <div class="mb-3">
        <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
        <ng-template #iconTemplate>
          <svg-icon src="/assets/icons/chevron-right.svg" svgClass="icon-xs"></svg-icon>
        </ng-template>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>