<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Threshold</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; index as i">
      <td>
        {{ category.name }}
      </td>
      <td>{{ category.threshold }}</td>
      <td>
        <button
          type="button"
          class="btn btn-link"
          triggers="click"
          [autoClose]="true"
          ngbTooltip="{{ category.description }}"
        >
          <i class="bi bi-info-circle"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
