<app-hint [content]="'supplier.hint.content' | translate"></app-hint>


<div class="d-flex mt-5">
  <div class="flex-grow-1 me-2">
    <app-supplier-form [supplier]="supplier" (create)="addToList($event)"></app-supplier-form>
  </div>
  <div class="table-responsive table-striped flex-fill">
    <table class="table table-striped">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">name</th>
          <th scope="col">email</th>
          <th scope="col">address</th>
          <th scope="col">mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers; index as i" (click)="select(supplier)">
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.email }}</td>
          <td>{{ supplier.address }}</td>
          <td>{{ supplier.mobile }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
