<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" [routerLink]="'.'">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <i class="bi bi-list"></i>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="user" (click)="isMenuCollapsed = true"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="equipment"
            (click)="isMenuCollapsed = true"
            >equipment</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="movement"
            (click)="isMenuCollapsed = true"
            >movement</a
          >
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <button class="btn" routerLink="/settings" type="button">
        <i class="bi bi-sliders"></i>
      </button>
      <button
        [ngbPopover]="popContent"
        class="btn position-relative"
        type="button"
      >
        <i class="bi bi-bell"></i>
        <span *ngIf="count !== 0"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          {{ count }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </div>
  </div>
</nav>
<ng-template #popContent>
  <app-notifications [notifications]="notifications" (readen)="readen($event)"></app-notifications>
</ng-template> -->




<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a class="sidebar-toggle js-sidebar-toggle">
    <i class="hamburger align-self-center"></i>
  </a>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align">
      <li ngbDropdown  class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-icon dropdown-toggle" id="alertsDropdown" data-bs-toggle="dropdown">
          <div class="position-relative">
            <i class="align-middle bi bi-bell"></i>
            <span class="indicator">{{ count }}</span>
          </div>
        </a>
        <div ngbDropdownMenu  class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
          <div class="dropdown-menu-header">
            {{ count }} New Notifications
          </div>
          <div class="list-group">
            <a *ngFor="let notification of notifications" href="#" class="list-group-item">
              <div class="row g-0 align-items-center">
                <div class="col-2">
                  <i class="text-danger bi bi-bell-fill"></i>
                </div>
                <div class="col-10">
                  <div class="text-dark"> {{ notification.title }}</div>
                  <div class="text-muted small mt-1"> {{ notification.message }}</div>
                  <div class="text-muted small mt-1">{{ notification.time }}</div>
                </div>
              </div>
            </a>
          </div>
          <div class="dropdown-menu-footer">
            <a href="#" class="text-muted">Show all notifications</a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-icon dropdown-toggle" routerLink="settings" id="messagesDropdown" data-bs-toggle="dropdown">
          <div class="position-relative">
            <i class="align-middle bi bi-sliders"></i>
          </div>
        </a>

      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-icon dropdown-toggle d-inline-block d-sm-none"  data-bs-toggle="dropdown">
          <i class="align-middle" data-feather="settings"></i>
        </a>

        <a ngbDropdownToggle class="nav-link dropdown-toggle d-none d-sm-inline-block" data-bs-toggle="dropdown">
          <img src="/assets/img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> 
          <span class="text-dark">Charles Hall</span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
          <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
          <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

